.thread {
    margin_right: 20px;
    margin_bottom: 5px;
}

.frontend , .subject {
    color: #0f0d2d;
}

.name {
    color: #117743;
}


.name , .subject {
    font-weight: bold;
}

.post {
    background: #d6daf0;
    padding: 10px;
}

body {
    background: #eef2ff;
}

div.post.reply {
    margin: 0.2em 4px;
    padding: 0.5em 0.3em 0.5em 0.6em;
}

div.post.op {
    background: #0f0d2d;
    margin-right: 20px;
    margin-bottom: 5px;
}