.thread {
    margin_right: 20px;
    margin_bottom: 5px;
}

.frontend , .subject {
    color: #0f0d2d;
}

.name {
    color: #117743;
}


.name , .subject {
    font-weight: bold;
}

.post {
    background: #d6daf0;
    padding: 10px;
}

body {
    background: #eef2ff;
}