<html>
  <head>
    <style type="text/css" src="{{Prefix}}static/site.css" />
    <style type="text/css" src="{{Prefix}}static/user.css" />
    <title>{{Frontend}} - {{Name}} </title>
  </head>
  <body>
    <!-- begin header -->
    {{{RenderNavbar}}}
    <!-- end header -->

    <!-- postform -->
    <div id="postform_container">
      <iframe src="{{Prefix}}generate/postform?board={{Board}}" width=400 height=200>
      </iframe>
    </div>
    <hr />
    <div id="threads_container">
      {{#Threads}}
        <div class="thread" id="thread_{{OP.PostHash}}">
          <div clsss="thread_header">
          </div>
          {{{OP.RenderPost}}}
          {{#Replies}}
            {{{RenderPost}}}
            <br />
          {{/Replies}}
        </div>
        <hr/>
      {{/Threads}}
    </div>
  </body>
</html>