<html>
  <head>
    <style type="text/css" src="{{prefix}}static/site.css" />
    <style type="text/css" src="{{prefix}}static/user.css" />
    <title>{{frontend}} - {{board}} </title>
  </head>
  <body>
    <!-- begin header -->

    <!-- end header -->

    <!-- postform -->
    <div id="postform_container">
      <iframe src="{{prefix}}generate/postform?board={{board}}" width=400 height=200>
      </iframe>
    </div>
    <div id="threads_container">
      {{#threads}}
        <div class="thread" id="thread_{{OP.PostHash}}">
          <div clsss="thread_header">
          </div>
          {{{OP.RenderPost}}}
          {{#Replies}}
            {{{RenderPost}}}
            <br />
          {{/Replies}}
        </div>
        <hr/>
      {{/threads}}
    </div>
  </body>
</html>