<html>
  <head>
    <style type="text/css" src="{{thread.Prefix}}static/site.css"></style>
    <style type="text/css" src="{{thread.Prefix}}static/user.css"></style>
    <title> {{thread.OP.Subject}} </title>
  </head>
  <body>
    <!-- postform -->
    <div id="postform_container">
      {{{form}}}
    </div>
    <hr />
    <div class="thread" id="thread_{{thread.OP.PostHash}}">
      <div class="thread_header">
      </div>
      {{{thread.OP.RenderPost}}}
      <br />
      {{# repls}}
        {{{RenderPost}}}
        <br />
      {{/ repls}}
    </div>
    <hr/>
    </body>
</html>